body {
  margin: 0;
}

.flex-container {
  display: flex;
  border: 5px solid black;
  height: 500px;
  align-items: center;
}

.flex-item {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: red;
  align-self: flex-start;
}
.item-2 {
  background-color: skyblue;
  align-self: flex-end;
}
.item-3 {
  background-color: tomato;
  align-self: center;
}
.item-4 {
  background-color: MediumVioletRed;
  align-self: stretch;
}
.item-5 {
  background-color: MediumSpringGreen;
}
.item-6 {
  background-color: orange;
}
