body {
  margin: 0;
}

.flex-container {
  display: flex; /* or inline-flex */
  /* flex-direction: column;  /* row-reverse, column, column-reverse */
  border: 5px solid black;
  height: 500px;
  align-items: center;
}

.flex-item {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: red;
  /* padding-top: 5rem; */
}
.item-2 {
  background-color: skyblue;
  /* padding-bottom: 3rem; */
}
.item-3 {
  background-color: tomato;
  /* font-size: 4rem; */
}
.item-4 {
  background-color: MediumVioletRed;
}
.item-5 {
  background-color: MediumSpringGreen;
}
.item-6 {
  background-color: orange;
}